version: '3.8'

services:
  db:
    image: postgres:12.7
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    env_file:
      - conf.env
    ports:
      - '5432:5432'
    networks:
      - defaulf
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:6.5
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    environment:
      - PGADMIN_DISABLE_POSTFIX=True
    env_file:
      - conf.env
    ports:
      - '8080:80'
    networks:
      - defaulf
    restart: unless-stopped

volumes:
  postgres-data:
  pgadmin-data:

networks:
  defaulf:
    driver: bridge
