version: '3.8'

services:
  db:
    image: postgres:12.7
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    env_file:
      - conf.env
    restart: unless-stopped
    ports:
      - 5432:5432

  adminer:
    image: adminer:latest
    environment:
      - ADMINER_DESIGN=lucas-sandery
      - ADMINER_PLUGINS=dump-alter dump-date dump-json dump-zip edit-calendar edit-foreign edit-textarea json-column pretty-json-column tables-filter
    restart: unless-stopped
    ports:
      - 8080:8080

volumes:
  postgres-data: